.title{
    font-family: 'Patua One';
    Font-size: 3.5em;
}
.sub-title{
    font-family: "Patua One";
    font-size: 2.1em;
}

.radiuss{
    border-radius:100%;
}
.photo{
    width:400px;
    height:200px;
}
.p-10{
    padding:10px;
}
.desc{
    text-align: justify;;
}
.img-card{
    margin-left: 10px;
}

.lol, .hs{
    display:none;
    border: 2px solid #363636;

}

.btn-null:hover{
    background:rgba(0,0,0,.2)
}
